<!-- Start Footer Section -->
<footer class="footer-section">
  <div class="container relative">
    <div class="sofa-img"><img src="/uploads/images/sofa.png" alt="Image" class="img-fluid"></div>
    <div class="row">
      <div class="col-lg-8">
        <div class="subscription-form">
          <h3 class="d-flex align-items-center">
            <span class="me-1"><img src="/uploads/images/envelope-outline.svg" alt="Image" class="img-fluid"></span>
            <span>Subscribe to Newsletter</span>
          </h3>
          <form action="#" class="row g-3">
            <div class="col-auto"><input type="text" class="form-control" placeholder="Enter your name"></div>
            <div class="col-auto"><input type="email" class="form-control" placeholder="Enter your email"></div>
            <div class="col-auto"><button class="btn btn-primary"><span class="fa fa-paper-plane"></span></button></div>
          </form>
        </div>
      </div>
    </div>
    <br>
    <br>
    <p style="text-align: center; font-style:italic; background-color: #243642; color:white;">Stay updated with tips, trends, and inspiration for your home.</p>
    <div class="border-top copyright">
      <div class="row pt-4">
        <div class="col-lg-6 text-center text-lg-start">
          <p>&copy;<%= new Date().getFullYear() %>. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 text-center text-lg-end">
          <ul class="list-unstyled d-inline-flex">
            <li class="me-4"><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Section -->
