<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1"><img src="images/img-grid-1.jpg" alt="Modern Living Room Design"></div>
                    <div class="grid grid-2"><img src="images/img-grid-2.jpg" alt="Elegant Interior Concepts"></div>
                    <div class="grid grid-3"><img src="images/img-grid-3.jpg" alt="Sophisticated Home Décor"></div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">Transform Your Space with Contemporary Interior Design</h2>
                <p>We specialize in bringing your modern design dreams to life, creating spaces that inspire. Our team fuses creativity with functionality to craft interiors that reflect your personal style while offering comfort and elegance.</p>

                <ul class="list-unstyled custom-list my-4">
                    <li>Expert consultation for a seamless design process</li>
                    <li>Tailor-made solutions that fit your unique taste</li>
                    <li>Access to high-quality, sustainable materials</li>
                    <li>Innovative and modern designs to suit any space</li>
                </ul>
                <p><a href="#" class="btn">Discover More</a></p>
            </div>
        </div>
    </div>
</div>
