<div class="hero" style="background-image: url('images/couch7.jpg'); background-color: #f0f0f0; background-size: cover; background-position: center; height: 500px;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Our Services</h1>
                    <p class="mb-4">From personalized consultations to custom furniture design, our services are designed to meet your unique needs and preferences. Let us help you create your dream space.</p>
                    <p><a href="#" class="btn btn-secondary me-2">Discover More</a></p>
                </div>
            </div>
        </div>
    </div>
</div>