<!-- Contact Us -->
<div class="hero" style="background-image: url('images/couch7.jpg'); background-color: #f0f0f0; background-size: cover; background-position: center; height: 500px;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Contact Us</h1>
                    <p class="mb-4">Have any questions or need assistance? Reach out to our team for support, inquiries, or custom design consultations. We are here to help you.</p>
                    <p><a href="#" class="btn btn-secondary me-2">Get In Touch</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
