
<!-- Blog -->
<div class="hero" style="background-image: url('images/couch1.jpg'); background-color: #f0f0f0; background-size: cover; background-position: center; height: 600px;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Our <span class="d-block">Blog</span></h1>
                    <p class="mb-4">Get inspired with the latest trends in furniture design, interior decor tips, and more. Follow our blog for expert advice and creative ideas to transform your living spaces.</p>
                    <p><a href="#" class="btn btn-secondary me-2">Read More</a></p>
                </div>
            </div>
        </div>
    </div>
</div>