<div class="hero" style="background-image: url('images/couch1.jpg'); background-color: #f0f0f0; background-size: cover; background-position: center; height: 600px;">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Modern Furniture <span class="d-block">Design Studio</span></h1>
                    <p class="mb-4">Discover timeless and modern furniture pieces that enhance any living space. Explore our range of stylish, functional designs for your home.</p>
                    <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
