<div class="popular-product">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="images/product-1.png" alt="Nordic Harmony Chair" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Nordic Harmony Chair</h3>
                        <p>Elegance meets comfort in this beautifully crafted chair. Perfect for adding a modern touch to any room.</p>
                        <p><a href="#">Discover More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="images/product-2.png" alt="Kruzo Aero Chair" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Kruzo Aero Chair</h3>
                        <p>Engineered for comfort and style, this chair provides the perfect balance for both work and relaxation.</p>
                        <p><a href="#">Discover More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="images/product-3.png" alt="Ergonomic Luxe Chair" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Ergonomic Luxe Chair</h3>
                        <p>Designed with your posture in mind, this chair offers premium support while exuding a sleek, modern design.</p>
                        <p><a href="#">Discover More</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
