<div class="popular-product">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="images/chair1.jpg" alt="Modular Sofa" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Modular Sofa</h3>
                        <p>Elegance meets comfort in this beautifully crafted sofa. Perfect for adding a modern touch to any room.</p>
                        <p><a href="#">Discover More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="images/chair2.jpg" alt="Change Lounge Sofa" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Change Lounge Sofa</h3>
                        <p>Engineered for comfort and style, this sofa provides the perfect balance for both work and relaxation.</p>
                        <p><a href="#">Discover More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="images/chair3.jpg" alt="Modern Minimalist Sofa" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Modern Minimalist Sofa</h3>
                        <p>Designed with your posture in mind, this sofa offers premium support while exuding a sleek, modern design.</p>
                        <p><a href="#">Discover More</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
