<div class="product-section">
    <div class="container">
        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Designed for Elegance & Comfort</h2>
                <p class="mb-4">Experience the fusion of sophistication and superior craftsmanship. Each piece is carefully curated to bring timeless beauty and unmatched comfort to your space.</p>
                <p><a href="shop.html" class="btn">Discover the Collection</a></p>
            </div> 
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                  <img src="images/chair1.jpg" class="img-fluid product-thumbnail" alt="Kruzo Aero Chair">
                  <h3 class="product-title">Kruzo Aero Chair</h3>
              
                  <!-- Wrapper for price and plus sign -->
                  <div class="product-info">
                    <strong class="product-price">₱78.00</strong> <!-- Price with Peso symbol -->
                    <span class="icon-cross">
                      <img src="images/cross.svg" class="img-fluid" alt="Cross Icon">
                    </span>
                  </div>
                </a>
              </div>
            <!-- End Column 2 -->

            <!-- Start Column 3 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                  <img src="images/chair2.jpg" class="img-fluid product-thumbnail" alt="Kruzo Aero Chair">
                  <h3 class="product-title">Kruzo Aero Chair</h3>
              
                  <!-- Wrapper for price and plus sign -->
                  <div class="product-info">
                    <strong class="product-price">₱78.00</strong> <!-- Price with Peso symbol -->
                    <span class="icon-cross">
                      <img src="images/cross.svg" class="img-fluid" alt="Cross Icon">
                    </span>
                  </div>
                </a>
              </div>
              
            <!-- End Column 3 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                  <img src="images/chair3.jpg" class="img-fluid product-thumbnail" alt="Kruzo Aero Chair">
                  <h3 class="product-title">Kruzo Aero Chair</h3>
              
                  <!-- Wrapper for price and plus sign -->
                  <div class="product-info">
                    <strong class="product-price">₱78.00</strong> <!-- Price with Peso symbol -->
                    <span class="icon-cross">
                      <img src="images/cross.svg" class="img-fluid" alt="Cross Icon">
                    </span>
                  </div>
                </a>
              </div>
              <br>
            <!-- End Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                  <img src="images/table1.jpg" class="img-fluid product-thumbnail" alt="Kruzo Aero Chair">
                  <h3 class="product-title">Kruzo Aero Chair</h3>
              
                  <!-- Wrapper for price and plus sign -->
                  <div class="product-info">
                    <strong class="product-price">₱78.00</strong> <!-- Price with Peso symbol -->
                    <span class="icon-cross">
                      <img src="images/cross.svg" class="img-fluid" alt="Cross Icon">
                    </span>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                  <img src="images/table2.jpg" class="img-fluid product-thumbnail" alt="Kruzo Aero Chair">
                  <h3 class="product-title">Kruzo Aero Chair</h3>
              
                  <!-- Wrapper for price and plus sign -->
                  <div class="product-info">
                    <strong class="product-price">₱78.00</strong> <!-- Price with Peso symbol -->
                    <span class="icon-cross">
                      <img src="images/cross.svg" class="img-fluid" alt="Cross Icon">
                    </span>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                  <img src="images/table3.jpg" class="img-fluid product-thumbnail" alt="Kruzo Aero Chair">
                  <h3 class="product-title">Kruzo Aero Chair</h3>
              
                  <!-- Wrapper for price and plus sign -->
                  <div class="product-info">
                    <strong class="product-price">₱78.00</strong> <!-- Price with Peso symbol -->
                    <span class="icon-cross">
                      <img src="images/cross.svg" class="img-fluid" alt="Cross Icon">
                    </span>
                  </div>
                </a>
              </div>
              <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                  <img src="images/table4.jpg" class="img-fluid product-thumbnail" alt="Kruzo Aero Chair">
                  <h3 class="product-title">Kruzo Aero Chair</h3>
              
                  <!-- Wrapper for price and plus sign -->
                  <div class="product-info">
                    <strong class="product-price">₱78.00</strong> <!-- Price with Peso symbol -->
                    <span class="icon-cross">
                      <img src="images/cross.svg" class="img-fluid" alt="Cross Icon">
                    </span>
                  </div>
                </a>
              </div>


        </div>
    </div>
</div>
