<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">What Our Clients Say</h2>
                <p class="mb-5">Discover the experiences of our satisfied customers, who transformed their spaces with our exceptional products and services.</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">
                        
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;The level of detail and creativity in the design process was outstanding. Our office space has been completely revitalized, and we couldn't be happier with the result!&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="images/person-1.png" alt="John Smith" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">John Smith</h3>
                                            <span class="position d-block mb-3">Managing Director, Creative Solutions</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> 
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Working with this team was an absolute delight. Their expertise and dedication transformed our home into a modern haven that we now enjoy every single day.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="images/person-2.png" alt="Emily White" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Emily White</h3>
                                            <span class="position d-block mb-3">Homeowner</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> 
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;From concept to execution, the team was professional, creative, and incredibly responsive. Our new workspace has boosted both morale and productivity!&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="images/person-3.png" alt="David Lee" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">David Lee</h3>
                                            <span class="position d-block mb-3">CEO, Tech Innovators</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> 
                        <!-- END item -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
