<!doctype html>
<html lang="en">
  <!-- Include the head partial -->
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>

    <!-- Start Hero Section -->
    <div class="hero">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5">
            <div class="intro-excerpt">
              <h1>About Us</h1>
              <p class="mb-4">Welcome to Furniture, where innovation meets comfort. Founded in 2024 by a passionate team of visionaries—Mayordo, Cuasay, Delara, and Leynes—we are dedicated to crafting high-quality furniture that transforms spaces. Our mission is to provide stylish, functional, and sustainable pieces that cater to diverse tastes and lifestyles. With a commitment to exceptional craftsmanship and customer satisfaction, MCDL Furniture is your trusted partner in creating the home of your dreams. Explore our collection and discover the perfect blend of design and durability.</p>
              <p>
                <a href="/shop" class="btn btn-secondary me-2">Shop Now</a>
                <a href="/shop" class="btn btn-white-outline">Explore</a>
              </p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="hero-img-wrap">
              <img src="uploads/images/couch.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6">
            <h2 class="section-title">Why Choose Us</h2>
			<p>At MCDL Furniture, we prioritize quality, style, and customer satisfaction. Our commitment to excellence and innovative design makes us the preferred choice for all your furniture needs.</p>

            <div class="row my-5">
              <div class="col-6 col-md-6">
                <div class="feature">
                  <div class="icon">
                    <img src="uploads/images/truck.svg" alt="Image" class="img-fluid">
                  </div>
                  <h3>Fast &amp; Free Shipping</h3>
				  <p>Enjoy swift delivery right to your doorstep at no extra cost. We ensure your furniture arrives quickly and safely.</p>
                </div>
              </div>

              <div class="col-6 col-md-6">
                <div class="feature">
                  <div class="icon">
                    <img src="uploads/images/bag.svg" alt="Image" class="img-fluid">
                  </div>
                  <h3>Easy to Shop</h3>
				  <p>Our user-friendly website and intuitive navigation make finding and purchasing your perfect furniture a breeze.</p>
                </div>
              </div>

              <div class="col-6 col-md-6">
                <div class="feature">
                  <div class="icon">
                    <img src="uploads/images/support.svg" alt="Image" class="img-fluid">
                  </div>
                  <h3>24/7 Support</h3>
				  <p>Our dedicated customer support team is available around the clock to assist you with any inquiries or concerns.</p>
                </div>
              </div>

              <div class="col-6 col-md-6">
                <div class="feature">
                  <div class="icon">
                    <img src="uploads/images/return.svg" alt="Image" class="img-fluid">
                  </div>
                  <h3>Hassle Free Returns</h3>
                  <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-5">
            <div class="img-wrap">
              <img src="uploads/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Why Choose Us Section -->

    <!-- Start Team Section -->
    <div class="untree_co-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-5 mx-auto text-center">
            <h2 class="section-title">Our Team</h2>
          </div>
        </div>

        <div class="row">
          <!-- Start Column 1 -->
          <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
            <img src="uploads/images/ako.png" class="img-fluid mb-5">
            <h3><span class="">John Paul Mayordo</span> Arnold</h3>
            <span class="d-block position mb-4">IT Student</span>
          </div>
          <!-- End Column 1 -->

          <!-- Start Column 2 -->
          <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
            <img src="uploads/images/chaiv2.jpg" class="img-fluid mb-5">
            <h3><span class="">Charlyn</span> Cuasay</h3>
            <span class="d-block position mb-4">IT Student</span>
          </div>
          <!-- End Column 2 -->

          <!-- Start Column 3 -->
          <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
            <img src="uploads/images/gers.jpg" class="img-fluid mb-5">
            <h3><span class="">Geralyn</span> Delara</h3>
            <span class="d-block position mb-4">IT Student</span>
          </div>
          <!-- End Column 3 -->

          <!-- Start Column 4 -->
          <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
            <img src="uploads/images/ericks.jpg" class="img-fluid mb-5">
            <h3><span class="">Rose Ericka</span> Leynes</h3>
            <span class="d-block position mb-4">IT Student</span>
          </div>
          <!-- End Column 4 -->
        </div>
      </div>
    </div>
    <!-- End Team Section -->

    

	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/tiny-slider.js"></script>
	<script src="js/custom.js"></script>
    <%- include('partials/footer') %>
  </body>
</html>

